<div class="p-4 sm:p-0">
    <h1 class="dark:text-white mb-3 font-bold text-3xl text-gray-950">
        Sobre mí
    </h1>
    <p class="text-gray-950 dark:text-white text-base md-text-lg sm:text-lg text-justify">
        ¡Hola! Soy desarrollador de aplicaciones multiplataforma en Telefónica. Trabajo principalmente con <a href="https://kotlinlang.org/" target="_blank" rel="noopener" class="dark:text-purple-400 text-purple-700">Kotlin Multiplataforma</a>.
    </p>
    <br>
    <p class="text-gray-950 dark:text-white text-base md-text-lg sm:text-lg text-justify">
        Actualmente, también estoy profundizando en el uso de <a href="https://go.dev/" target="_blank" rel="noopener" class="dark:text-blue-300 text-blue-800">Go</a> y <a href="https://astro.build/" target="_blank" rel="noopener" class="text-orange-600">Astro</a> y <a href="https://es.react.dev/" target="_blank" rel="noopener" class="text-blue-600">React</a> para expandir mis habilidades en backend y desarrollo web.
    </p>
</div>
