---
import GitHubIcon from '../components/icons/GitHub.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import CvIcon from '../components/icons/Cv.astro';

interface Props {
    links: Array<{ href: string; icon: string; alt: string }>;
}

const {links} = Astro.props;

const icons: { [key: string]: (_props: Record<string, any>) => any } = {
    GitHubIcon: GitHubIcon,
    LinkedInIcon: LinkedInIcon,
    MailIcon: MailIcon,
    CvIcon: CvIcon,
};
---

<div class="flex justify-center gap-4">
    {links.map(link => {
        const IconComponent = icons[link.icon];
        return (
                <a
                        href={link.href}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="p-4 rounded-full bg-gradient-to-r from-purple-500 to-indigo-500 text-white shadow-lg hover:shadow-xl transition-transform transform hover:scale-105"
                >
                    <IconComponent alt={link.alt} class="w-6 h-6"/>
                </a>
        );
    })}
</div>