---
import Android from "../components/icons/Android.astro";
import Kotlin from "../components/icons/Kotlin.astro";
import Java from "../components/icons/Java.astro";
import Compose from "./icons/compose.astro";
import Figma from "./icons/Figma.astro";
import Kmp from "./icons/Kmp.astro";

const SKILLS = [
    { name: "Kotlin", icon: Kotlin },
    { name: "Android", icon: Android },
    { name: "KMP", icon: Kmp },
    { name: "Compose", icon: Compose },
    { name: "Java", icon: Java },
    { name: "Figma", icon: Figma },
];
---

<div class="p-6 sm:p-12">
    <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-12 text-center relative">
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-cyan-500">Skills</span>
        </h1>
        <div class="flex flex-wrap justify-center gap-8">
            {SKILLS.map((skill) => (
                    <div class="flex flex-col items-center text-center">
                        <div class="w-24 h-24 bg-white dark:bg-gray-800 rounded-full shadow-md flex items-center justify-center transition-transform transform hover:scale-110">
                            <skill.icon class="w-12 h-12 text-blue-600 dark:text-cyan-400" />
                        </div>
                        <p class="mt-2 text-sm font-semibold text-gray-700 dark:text-gray-300">{skill.name}</p>
                    </div>
            ))}
        </div>
    </div>
</div>